body{
    background: #888888;
}

.features {
    text-align: center;
    max-width: 600px;
    background: #222222;
    color: white;
    padding: 15px;

    margin-left: auto;
    margin-right: auto;


}

.features a:hover {
    color: #eb5959;
    text-decoration: none;
    transform: scale(1.1);
    transition: transform .6s ease;
    display: inline-block;
}

li {
    display: flex;
    align-items: flex-start;
}

.footer-block{
    width: 100%;
    height: 400px;

    margin-top: 5px;
    background: black;

    color: #555555;
}

.footer-block img{
    width: 100px;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.footer-block p{
    text-align: center;
}
